body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.image-1{
    left: 0px;
    top: 0px;
}

.image-2{
    left: 100px;
    top: 100px;
}

.image-3{
    left: 200px;
    top: 200px;
}
